<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="homepage">
        <h1>Python Web Scraping for Cybersecurity Analysis</h1>
        <ul>
            <li><a href="groups">View Groups table</a></li>
            <li><a href="softwares">View Softwares table</a></li>
            <li><a href="techniques">View Techniques table</a></li>
        </ul>
    </div>
</body>
</html>